.regMain {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  height: 100vh;
}
label {
  color: var(--col-text);
}
h2 {
  font-weight: 700;
  color: var(--col-text);
  
}
